.container{
  margin: 0 auto;
  max-width: 1000px;
  padding: 1rem;
}

.flex-container{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 1000px;
  padding: 1rem;
}

h1{
  text-align: center;
}
.about-me{
  padding-left: 80px;
}
body{
  width: auto;
  color: black;
  background-color: honeydew;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  font-family: 'Merriweather Sans', sans-serif;
}

.nav-bar ul{
  text-decoration: none;
  list-style-type: none;
}
.nav-bar li{
  text-decoration: none;
}

a:link, a:visited {
    background-color: grey;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: black;
}

img{
  float: right;
  width: 25%;
  height: auto;
  padding-right: 15px;
}

footer{
  display:flex;
  clear: both;
  width: 50%;
  justify-content: center;
  color: black;
  overflow: auto;
}

a.link-one {
font-size: 14px;
transition-property:
font-size;
transition-duration: 2s;
transition-delay: 1s;
}
a.link-one:hover {
font-size: 24px;
}

a.link-two:hover {
transition-property: font-weight;
font-weight: bold;
transition-duration: 2s;
transition-delay: 1s;
}

a.link-three:hover {
  font-size: 12px;
}
a.link-three {
transition-property: font-style;
font-style: italic;
transition-duration: 2s;
transition-delay: 1s;
}

}
